.card {
  background-color: #343434;
  padding: 21.3px;
  font-family: Arial, sans-serif;
  color: rgb(250, 250, 250);
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  margin-top: 0;
  position: relative;
  color: #ffcc00;
}

.card h2::before {
  content: "★ ";
  color: #ffcc00;
}